.question{
    padding:100px 0;
    &-bg{
        background-color: $secondary-color;
    width: 100%;
    }
    &-heading span{
        display: block;
        font-size:35px;
        font-weight: 600;
        line-height: 1.4;
    }
    &-info{
        margin-top: 60px;
    }
    &-list{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 30px;
    }
    &-item{
        background-color: $bg-color;
        padding: 20px;
        border-radius: 7px;
        font-weight: 300;
        display: flex;
    }
    &-icon{
        font-size: 14px;
        margin-right: 10px;

    }
    &-desc{
        font-size: 14px;
        font-weight: 500;
    }
}