$text-color:#b2b7b4;
$bg-color:#1c211f;
$primary-color: #3e6553;
$secondary-color:#2f3733;
@import "reset";
@import "gobal";
@import "header";
@import "banner";
@import "about";
@import "step";
@import "product";
@import "question";
@import "contact";
@import "footer";